/* font-family: 'PT Sans Narrow', sans-serif; */
body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  background-color: rgb(242, 245, 252);
}

.title {
  font-size: 40px;
}

.title-container {
  padding: 3% 10%
}

.main-container {
  padding: 3% 22%;
}

.exs-container {
  background-color: rgb(184, 195, 227);
  padding: 15px 15px 2px;
  margin-bottom: 10px;
  border-radius: 5px;
}



.checkboxes {
  width: 25px; height: 25px;
}

.checkboxes-labels {
  margin-left: 3%;
}

.answers-box {
  margin-top: 10px;
  position: relative;
  top: 10px;
}

.answers-div {
  width: 80%;
}
.answers-div:nth-child(odd) {
  background: rgb(167, 181, 217);
}

.exs-check-button {
  width: 100px;
  position: relative;
  left: 90%;
  bottom: 10px;
}

.results-wrap {
  padding: 3% 25%;
}

.results-box {
  height: 500px;
  background-color: rgb(184, 195, 227);
  border-radius: 5px;
  display: none;
}

.results-title {
  padding: 20px;
}

.results {
  padding: 20px 50px;
}
