/* font-family: 'PT Sans Narrow', sans-serif; */
body {
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 25px;
  background-color: #f4f4f4;
}

/* #DCD0C0 #C0B283 #F4F4F4 #373737 */

.title {
  font-size: 40px;
}

.title-container {
  padding: 3% 10%
}

.main-container {
    width: 70%;
    background-color: #C0B283;
    padding: 1% 6% 3%;
}

.exs-container {
  background-color: #DCD0C0;
  padding: 15px 15px 2px;
  margin-bottom: 10px;
  border-radius: 5px;
}



.checkboxes {
  width: 25px; height: 25px;
}

.checkboxes-labels {
  margin-left: 3%;
}

.answers-box {
  margin-top: 10px;
  position: relative;
  top: 10px;
}

.answers-div {
  width: 80%;
}
.answers-div:nth-child(odd) {
  background: rgba(167, 181, 217,0.3);
}

.exs-check-button {
  width: 100px;
  position: relative;
  left: 90%;
  bottom: 10px;
}

.submission-container {
  height: 0;
}

.results-wrap {
  padding: 0 10% 20%;
  margin-top: 20px;
}

.results-box {
  height: 500px;
  background-color: #DCD0C0;
  border-radius: 5px;
  display: none;
}

.results {
  width: 50%;
  padding: 5%;
  height: 100%;
}

.results-rows {
  margin-bottom: 10%;
}

.results-cols {
  background-color: rgba(167, 181, 217,0.3);
  margin-right: 8%;
}

.span {
  position: relative;
  left: 40%;
}

.dot-box {
  height: 100%;
  width: 50%;
  position: relative;
  left: 50%;
  bottom: 100%;
}

.dot {
  position: relative;
  left: 25%;
  top: 10%;

  height: 200px;
  width: 200px;
  background-color: rgb(92, 189, 107);
  border-radius: 50%;
  display: inline-block;

  text-align: center;
  padding: 38px;
  font-size: 82px;
  font-weight: bold;
  color: ghostwhite;
}
